.images {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    flex-direction: column-reverse;
}

.update {
    display: flex;
    justify-content: center;
}

.images>p {
    color: green;
}